html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #fff2e6;
	width: 100%;
	height: 100%;
}

/* ############################################################### */
/* ############################################################### */
/* top panel */

.td-main-menu-bar {
	margin-bottom: 0px;
	min-height:30px !important;
}

.td-main-menu-bar > .container-fluid > .navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}


.td-submenu-nav {
	min-height: 22px !important;
	background-color: #383838 ;
}

.td-container-fluid {
	padding-left: 0 !important;
}

.td-submenu-button {
	outline: none !important;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}




.tooltip {
  z-index: 1001;
  pointer-events: none;
  transition: opacity .1s ease-out;
  opacity: 0;

  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 2px;
  border: 1px solid black;
}

.tooltip.hide {
  opacity: 0;
}

.tooltip.show {
  opacity: 1;
}








/* SLIDER */
.input-length-slider-container {
	padding-left: 20px;
	padding-top: 20px;

}
.td-slider {
	position: fixed;
	bottom: 20px;
	right: 40px;
}












/* ############################################################### */
/* ############################################################### */
/* mainContent */
.all-activities {

}

.activity {
	padding: 10px;
	margin-left: 20px;
}

.td-row {
	display: inline-flex;
}

.activity-button {
	border: none;
	background-color: transparent;

}
.activity-button:hover, .activity-button:focus {
	border-color: transparent !important;
	outline: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;	
}

.input-field {
	background-color: transparent;
	border: none;
	outline: none;

}

.activityTitle {
	font-size: 20px;
}




/* ############################################################### */
/* ############################################################### */
/* quick notes */
.notes-panel {
	width: 100%;
	height: 100%;
}

.quick-notes-textarea {
	width: 100%;
	height: 100%;
	background-color: transparent;
	padding: 40px;
	font-size: 22px;
	font-family: "Helvetica";
	outline: none;
	border: none;
}

.unsaved-notes-star {
	color: red;
	background-color: transparent !important;
	outline: none !important;
	border: none !important;
	padding: 0px !important;
	display: none;
}
.unsaved-notes-star:hover, .unsaved-notes-star:active:focus, .unsaved-notes-star:active, .unsaved-notes-star:focus {
	color: red !important;
}