html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #fff2e6;
	width: 100%;
	height: 100%;
}

/* ############################################################### */
/* ############################################################### */
/* top panel */
.navbar {
	margin-bottom: 0px;
	min-height: 25px;
}

.td-submenu-nav {
	min-height: 22px !important;
}

.td-container-fluid {
	padding-left: 0 !important;
}

.td-submenu-button {
	border-radius: 0 !important;
	margin: 0 auto !important;
	outline: none !important;

}




.tooltip {
  z-index: 1001;
  pointer-events: none;
  transition: opacity .1s ease-out;
  opacity: 0;

  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 2px;
  border: 1px solid black;
}

.tooltip.hide {
  opacity: 0;
}

.tooltip.show {
  opacity: 1;
}








/* SLIDER */
.input-length-slider-container {
	padding-left: 20px;
	padding-top: 20px;

}
.td-slider {
	position: fixed;
	bottom: 20px;
	right: 40px;
}












/* ############################################################### */
/* ############################################################### */
/* mainContent */
/*.allActivities {
	display: inline-block;
	padding-left: 20px;

}
.activity {
	display: inline-block;

	font-size: 14px;
	background-color: lightblue;
	margin: 10px;
}
.activityTitle {
	background-color: transparent;
    border: none;
    font-size: 20px;
    overflow: auto;
}
.activityTitle:focus {outline: 0;}


.js-addTask {
	border: none;
	background-color: transparent;
}
.js-addTask:hover, .js-addTask:focus, .js-addTask:active {
	background-color: transparent !important;
	box-shadow: none !important;
	border-color: transparent !important;
	outline: 0 !important;
}

.btn-danger {
	min-width: 120px;
}

input:focus {outline: none;}

.js-deleteButton, .js-deleteActivity {
	border: none;
	background-color: transparent;
	float: left;
}
.js-deleteButton:hover, .js-deleteButton:focus, .js-deleteActivity:hover, .js-deleteActivity:focus {
	border-color: transparent !important;
	outline: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;
}

.input-group {
	display: inline-flex;
	width: 100% !important;
}

.js-task {
	background-color: transparent;
    border: none;
    overflow: auto;
    width: 100%;
}
.js-task:focus {outline: 0;}


.js-addActivityButton {
	margin-left: 5px;
	margin-top: 5px;
}*/

.all-activities {

}

.activity {
	padding: 10px;
/*	background-color: lightblue;*/
	margin-left: 20px;
}
/*.activity-content {
	list-style-type: none;
	padding: 0px;
}*/

.td-row {
	display: inline-flex;
}

.activity-button {
	border: none;
	background-color: transparent;

}
.activity-button:hover, .activity-button:focus {
	border-color: transparent !important;
	outline: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;	
}

.input-field {
	background-color: transparent;
	border: none;
	outline: none;

}

.activityTitle {
	font-size: 20px;
}




/* ############################################################### */
/* ############################################################### */
/* quick notes */
.notes-panel {
	width: 100%;
	height: 100%;
}

.quick-notes-textarea {
	width: 100%;
	height: 100%;
	background-color: transparent;
	padding: 40px;
	font-size: 22px;
	font-family: "Helvetica";
	outline: none;
	border: none;
}