html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #F0F0F0;
	width: 100%;
	height: 100%;
}

/* ############################################################### */
/* ############################################################### */
/* top panel */

.td-main-menu-bar {
	margin-bottom: 0px;
	min-height:30px !important;
}

.td-main-menu-bar > .container-fluid > .navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}



.td-container-fluid {
	padding-left: 0 !important;
}

.td-submenu-button {
	outline: none !important;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
	margin-left: 10px;
}










/* SLIDER */
.input-length-slider-container {
	padding-left: 20px;
	padding-top: 20px;

}
.td-slider {
	position: fixed;
	bottom: 20px;
	right: 40px;
}







/* Buttons for adding/removing */
.glyph-button {
	border: none;
	background-color: transparent !important;
	float: right;

}
.glyph-button:hover, .glyph-button:focus {
	border-color: transparent !important;
	outline: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;	
}

















/* ############################################################### */
/* ############################################################### */
/* mainContent */

.main-content {
	width: 100%;
}

.sidebar-options {
	height: 100vh;
	width: 3%;
	background-color: #C0C0C0;
	float: left;
}

.add-activity-button-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 38px;
}

.all-activities {
	width: 97%;
	padding: 5px;
	display: inline-block;
}

.activity {
	background-color: white;
	width: 410px;
	border-radius: 3px;
	margin: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 5px;
}

.td-row {
	display: inline-flex;
	width: 100%;
	border-top: 1px solid black;
}
.td-row:hover {
	background-color: #f9e5e5;
}

.td-title {
	font-size: 14px !important;
}

.td-content {
	font-size: 12px !important;
}




/* ############################################################### */
/* ############################################################### */
/* quick notes */

.sidebar-menu-notes {
	height: 100vh;
	width: 7%;
	background-color: #D8D8D8;
	float: left;
	border-right: 1px solid #C8C8C8;
}

.all-notes {
	padding: 10px;
	width: 93%;
	display: inline-block;
}

.note {
	background-color: white;
	width: 410px;
	border-radius: 3px;
	margin: 5px;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.textarea-container {
	padding: 10px;
	padding-top: 0px;
}

.note-textarea {
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	resize: none;
	font-family: "Helvetica";
	font-size: 16px;
}
.note-title {
	font-weight: bold;
	font-size: 18px;
}
.note-content {
}

.note-options-dropdown-container {
	float: right;
}
.notes-options-button {
	height: 8px;
	padding-bottom: 12px;
}

.notes-menu-category {
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
.notes-menu-category:hover {
	background-color: #F0F0F0;
}